body{
    background-color: #002339;
    margin-left: 4rem;
    margin-top: 12rem;
    font-family:'Poppins',sans-serif;
}
.head
{
    font-size: 23px;
}
h1 {
    color: white;
}
h2{
    color:#019f55;
}
.form input
{
    width: 30rem;
    height:3rem;
    border-radius: 7px;
}
.btn
{
    margin-top: 40px;
}
button
{
    padding: 10px;
    background-color:#019f55 ;
    border-radius: 10px;
    width: 20rem;
    height: 3rem;
    color: white;
    font-size: 20px;
}